<!DOCTYPE html>
{% extends 'testapp/base.html' %}
<!-- {% load staticfiles %} -->
    {% block body_block %}
    <!-- <div class="semlist">
        {% if SemHere %}
            <table>
                <thead>
                    <th>Semester</th>
                </thead>
            {% for item in SemHere %}
                <tr>
                    <td>{{item.sem}}</td>
                </tr>
            {% endfor %}     
            </table>
        {% else %}
            <p>No Semester Found</p>
        {% endif %}    
    </div> -->
    <h3>Welcome to new index</h3>
    <p>Templated successfully inherited</p>
    {%  endblock %}